<html>
<head></head>
<body>

<div style='margin:5px;background-color:#FFF;padding:10px;font-family:sans-serif;'>
        <div style='width:100% ;background-color:#BC8056;color:#fff;text-align:center;font-size:20px;font-weight:600;padding:10px 0 10px 0;'>
            Grindhood
        </div>
        <div style='padding: 0 50px 0 50px;'>
                <p>
                    <br> <strong>Hi</strong> {{ user.first_name }} {{ user.last_name }},
                    <br>You have requested to recover your password. We´ve sent you a code for you to log in to your account, once you log in you will have to update your password.
                </p>
            <div style='margin:20px auto 20px auto; text-align: center;'>
                   {{ password }}
            </div>


        </div>

    </div>

</body>
</html>