


<html>
<head></head>
<body>

<div style='margin:5px;background-color:#FFF;padding:10px;font-family:sans-serif;'>
        <div style='width:100% ;background-color:#BC8056;color:#fff;text-align:center;font-size:20px;font-weight:600;padding:10px 0 10px 0;'>
            Grindhood
        </div>
        <div style='padding: 0 50px 0 50px;'>
                <p>
                    <br> <strong>Hola</strong> {{ user.first_name }} {{ user.last_name}},
                    <br>Has solicitado recuperar tu contraseña, nosotros hemos enviado una contraseña temporal, porfavor ingresa con ella y actualiza tu contraseña.
                </p>

            <div style='margin:20px auto 20px auto; text-align: center;'>
                   {{ password }}
            </div>

        </div>

    </div>

</body>
</html>