<html>
<head></head>
<body>


<div style='margin:5px;background-color:#FFF;padding:10px;font-family:sans-serif;'>
        <div style='width:100% ;background-color:#BC8056;color:#fff;text-align:center;font-size:20px;font-weight:600;padding:10px 0 10px 0;'>
            Grindhood
        </div>
        <div style='padding: 0 50px 0 50px;'>

                <p>
                    <br> <strong>Hi</strong> {{ user.first_name }} {{ user.last_name }},
                    <br>You are ready to join the community for
                        passionate people! All we need to do is make sure this is your email address.
                    <br>Verify your account
                </p>

            <div style='margin:20px auto 20px auto; text-align: center;'>
                    <a href='{{ domain }}/api/v1/login/activate/{{ uid }}/{{ token }}/{{ language }}/'
                        style='background-color: #fff;
                         border-radius: 10px;
                         text-decoration: none;
                         border-color: #bbb;
                         border-width: 2px;
                         border-style: solid;

                    color:#BC8056;padding:10px;
                    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
                    '>Activate my account</a>
              </div>


                <br>If you didn't create a  <a href='https://www.grindhood.com' style='text-decoration:none;color:#A98273;font-family:sans-serif;font-weight:400;'>
                        Grindhood</a> account, just delete this email and everithing will go to back to the way it was.

        </div>

    </div>



</body>
</html>